<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers Heads</title>
    <link rel="stylesheet" href="http://users.du.se/~h19geoge/projekt/css/main.css">
    <script src="https://kit.fontawesome.com/a4e182b4a5.js" crossorigin="anonymous"></script>
    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">
</head>
<body>

<footer class="footer-distributed">
    <div class="footer-left">
        <img src="http://users.du.se/~h19geoge/projekt/bilder/logo.png" alt="logo">
        <!--om vi ska ha logo-->
        <h3>About<span> Sneaker Heads</span></h3>
        <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">Products</a>
            |
            <a href="#">New Releases</a>
            |
            <a href="#">About Us</a>

        </p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Röda vägen 3</span>
                781 70 Borlänge</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>+46 704055414</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:shoeclub@hotmail.com">Sneakerheads@hotmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>Follow us on </span>
        </p>
        <div class="footer-icons">
            <a href="https://www.facebook.com/sneeeakerheadsss/?__tn__=%2Cd%3C-R&eid=ARB63ZUqNshyMc-1fKVJRfJVxTLUM-02uHNvkTNO5im_aJ8WkrQWk6OeVvDFTvDlCyrjn0dOYApBJWpd
                   " target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/sneeekerheadsss/" target="_blank"><i
                    class="fab fa-instagram"></i></a>
            <a href="https://www.snapchat.com/l/sv-se/" target="_blank"><i class="fab fa-snapchat-square"></i></a>
            <a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter-square"></i></a>

        </div>
        <p class="footer-company-about">
            <span>Validation</span>
        </p>
        <div class="footer-icons">
            <a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fusers.du.se%2F%7Eh19geoge%2Fprojekt%2F" target="_blank"><i class="fab fa-html5"></i></a>
            <a href="https://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fusers.du.se%2F%7Eh19geoge%2Fprojekt%2F&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en" target="_blank"><i class="fab fa-css3-alt"></i></a>
        </div>
    </div>
</footer>
<!--footer slut-->
</body>

</html>